/Utilities/obj
/TokeiLibrary/obj
/TokeiLibrary/bin
/GrfToWpfBridge/obj
/GrfToWpfBridge/bin
/Utilities/bin
/GRFEditor/obj
/GRFEditor/bin
/GRF/obj
/GRF/bin
/ExampleProject/obj
/Database/obj
/Database/bin
/ActImaging/obj
/ActImaging/bin
/GrfCL/obj
/GRFEditor/.vscode
/.vs
/.vscode
